@import url('https://fonts.googleapis.com/css?family=Courgette|Marck+Script');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  font-size: 1rem;
}

.horizontal-scroll {
  margin-top: 10vh;
  width: 80vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: scroll;
  background: whitesmoke;
  padding: 30px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg) translate3d(0, -80vh, 0);
          transform: rotate(-90deg) translate3d(0, -80vh, 0);
}
.horizontal-scroll > * {
  overflow: auto;
  -moz-overflow:auto;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translate3d(0, calc(-80vh + 60px), 0);
          transform: rotate(90deg) translate3d(0, calc(-80vh + 60px), 0);
}

.text{
  position: absolute;
  text-align: center;
  z-index: 100;
  padding: 0.4rem 20px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 0.9rem;
  bottom: 0vh;
  display: none;
}

.upButton {
  background: rgba(230, 230, 230, 0.4);
  z-index: 1001;
  position: absolute;
  bottom: 0;
  padding-top: .3rem;
  left: 45%;
  width: 4vh;
  text-align: center;
  box-shadow: none;
  border: none;
  border-radius: 50% 50% 0 0;
  cursor: pointer;
}


.potrait1{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 60vh;
}


.landscape1 {
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 25vh;
}

.landscape2{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 36vh;
}

.landscape3{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 48vh;
}

.landscape4{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 84vh;
}

.landscape5{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 120vh;
}

.landscape6{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 133vh;
}

.landscape7{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 169vh;
}

.landscape8{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 182vh;
}

.landscape9{
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 218vh;
}

.landscape10 {
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 254vh;
}

.landscape11 {
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 267vh;
}

.landscape12 {
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 303vh;
}

.landscape13 {
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 293vh;
}

.landscape14 {
  width: calc(106vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 329vh;
}

.potrait2{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 71vh;
}

.potrait3{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 156vh;
}

.potrait4{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 205vh;
}

.potrait5{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 290vh;
}

.potrait6{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 339vh;
}

.potrait7{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 316vh;
}

.potrait8{
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  position: relative;
  top: 365vh;
}

.horizontal-scroll__block:not(:first-child) {
  margin-top: 30px;
}
.horizontal-scroll__block .background {
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background-blend-mode: luminosity;
}

/*navbar*/
#navbarph {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

#sidebar {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  overflow: visible;
  z-index: 1000;
  height: 75vh;
  width: 32vh;
  margin-top: -5vh;
}

#sidebar a {
  display: block;
  color: black;
  position: relative;
  top: 5vh;
  padding: 0.7rem 6vh;
  text-decoration: none;
}
#menu {
  font-family: 'Courgette', cursive;
}

#menu a:hover{
  color: rgba(30, 30, 30, 0.6);
}

#infopop {
  display: none;
  transition: 0.5s;
}

#sworkspop {
  display: none;
  transition: 0.5s;
}

#infopop a{
  padding-left: 8vh;
  margin-top: -0.45rem;
  transition: 0.5s;
}

#sworkspop a{
  padding-left: 8vh;
  margin-top: -0.45rem;
  transition: 0.5s;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    margin-top: 9vh;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    font-family: cursive;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

#logo {
  font-family: 'Marck Script', cursive;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-left: 6vh;
  display: inline-block;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#icon {
  display: none;
}

#social-media {
  position: absolute;
  display: inline-flex;
  font-size: 1rem;
  top: 67vh;
  margin-left: 5vh;
}

#social-media a {
  padding: 0.3rem 1rem;
}

#social-media a:hover {
  color: blue;
}

@media screen and (max-width: 768px) {
  body {
    top:0;
    left: 0;
    right: 0;
  }
  #navbarph {
    position: relative;
  }

  #sidebar {
    margin-top: 0vh;
    width: 100%;
    height: 9vh;
    position: relative;
    display: block;
    top: 0;
    right: 0;
    padding: 0;
  }
  #menu {
    display: none;
  }
  #icon {
    float: right;
    display: block;
    padding-right: 15px;
    padding-top: 2.5vh;
    cursor: pointer;
  }
  #logo {
    padding-top: 2.5vh;
    padding-left: 1.5rem;
  }
  .horizontal-scroll {
    white-space: nowrap;
  }
  .landscape1 {
    top: 0vh;
  }
  .potrait1{
    top: 40vh;
  }
  .landscape2 {
  top: 20vh;
  }

  .potrait2 {
    top: 60vh;
  }

  .landscape3 {
    top: 42vh;
  }
  #sworksnav{
    display: none;
  }
  #sworksinfo {
    display: none;
  }

  #social-media {
    display: none;
  }
  
}


@media screen and (max-height: 450px) {

}


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

