
body{
  overflow: hidden;
}


#navbarph {
  position: relative;
}

.landscape {
  position: relative;
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  top: 10vh;
}
#i1 {
  background: url('../images/1.jpg') center center/cover;
}
#i2 {
  background: url("../images/2.jpg") center center/cover;
}
#i3 {
  background: url("../images/3.jpg") center center/cover;
}
#i30 {
  background: url("../images/30.jpg") center center/cover;
}
#i4 {
  background: url('../images/4.jpg') center center/cover;
}
#i40 {
  background: url('../images/40.jpg') center center/cover;
}
#i40_2 {
  background: url('../images/40_2.jpg') center center/cover;
}
#i40_3 {
  background: url('../images/40_3.jpg') center center/cover;
}
#i5 {
  background: url('../images/5.jpg') center center/cover;
}
#i6 {
  background: url('../images/6.jpg') center center/cover;
}
#i7 {
  background: url('../images/7.jpg') center center/cover;
}
#i8 {
  background: url('../images/8.jpg') center center/cover;
}
#i9 {
  background: url('../images/9.jpg') center center/cover;
}
#i10 {
  background: url('../images/10.jpg') center center/cover;
}
#i11 {
  background: url('../images/11.jpg') center center/cover;
}
#i12 {
  background: url('../images/12.jpg') center center/cover;
}
#i13 {
  background: url('../images/13.jpg') center center/cover;
}
#i14 {
  background: url('../images/14.jpg') center center/cover;
}
#i15 {
  background: url('../images/15.jpg') center center/cover;
}
#i16 {
  background: url('../images/16.jpg') center center/cover;
}
#i17 {
  background: url('../images/17.jpg') center center/cover;
}
#i18 {
  background: url('../images/18.jpg') center center/cover;
}
#i19 {
  background: url('../images/19.jpg') center center/cover;
}
#i19_2 {
  background: url('../images/19_2.jpg') center center/cover;
}
#i20 {
  background: url('../images/20.jpg') center center/cover;
}
#i20_2 {
  background: url('../images/20_2.jpg') center center/cover;
}
#i21 {
  background: url('../images/21.jpg') center center/cover;
}
#i22 {
  background: url('../images/22.jpg') center center/cover;
}
#i23 {
  background: url('../images/23.jpg') center center/cover;
}
#i24 {
  background: url('../images/24.jpg') center center/cover;
}
#i25 {
  background: url('../images/25.jpg') center center/cover;
}
#i26 {
  background: url('../images/26.jpg') center center/cover;
}
#i27 {
  background: url('../images/27.jpg') center center/cover;
}
#i28 {
  background: url('../images/28.jpg') center center/cover;
}
#i30 {
  background: url('../images/30.jpg') center center/cover;
}
#i31 {
  background: url('../images/31.jpg') center center/cover;
}
#i32 {
  background: url('../images/32.jpg') center center/cover;
}
#i33 {
  background: url('../images/33.jpg') center center/cover;
}
#i34 {
  background: url('../images/34.jpg') center center/cover;
}
#i35 {
  background: url('../images/35.jpg') center center/cover;
}
#i36 {
   background: url('../images/36.jpg') center center/cover;
}
#i37 {
  background: url('../images/37.jpg') center center/cover;
}
#i38 {
  background: url('../images/38.jpg') center center/cover;
}
#i39 {
  background: url('../images/39.jpg') center center/cover;
}
#i41 {
  background: url('../images/41.jpg') center center/cover;
}
#i42 {
  background: url('../images/42.jpg') center center/cover;
}
#i43 {
  background: url('../images/43.jpg') center center/cover;
}
#i44 {
  background: url('../images/44.jpg') center center/cover;
}
#i45 {
  background: url('../images/45.jpg') center center/cover;
}
#i46 {
  background: url('../images/46.jpg') center center/cover;
}
#i47 {
  background: url('../images/47.jpg') center center/cover;
}
#i48 {
  background: url('../images/48.jpg') center center/cover;
}
#i49 {
  background: url('../images/49.jpg') center center/cover;
}
#i50 {
  background: url('../images/50.jpg') center center/cover;
}
#i51 {
  background: url('../images/51.jpg') center center/cover;
}
#i52 {
  background: url('../images/52.jpg') center center/cover;
}
#i53 {
  background: url('../images/53.jpg') center center/cover;
}
#i54 {
  background: url('../images/54.jpg') center center/cover;
}
#i55 {
  background: url('../images/55.jpg') center center/cover;
}
#i56 {
  background: url('../images/56.jpg') center center/cover;
}
#i57 {
  background: url('../images/57.jpg') center center/cover;
}
#i58_2 {
  background: url('../images/58_2.jpg') center center/cover;
}
#i58 {
  background: url('../images/58.jpg') center center/cover;
}
#i59 {
  background: url('../images/59.jpg') center center/cover;
}
#i60 {
  background: url('../images/60.jpg') center center/cover;
}
#i61 {
  background: url('../images/61.jpg') center center/cover;
}


.header {
  font-family: 'Satisfy', cursive;
  position: relative;
  width: calc(50vh - 60px);
  height: calc(70vh - 60px);
  top: 30vh;
  white-space: initial;
}

@media screen and (max-width: 730px) {
  .header {
      top: 0;
      margin-top: 10vh;
      width: calc(60vh - 60px);
  }
}
