
body{
  overflow: hidden;
}


#navbarph {
  position: relative;
}

.landscape {
  position: relative;
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
  top: 10vh;
}
#1 {
  background: url('../images/1.jpg') center center/cover;
}
#2 {
  background: url("../images/2.jpg") center center/cover;
}
#3 {
  background: url("../images/3.jpg") center center/cover;
}
#30 {
  background: url("../images/30.jpg") center center/cover;
}
#4 {
  background: url('../images/4.jpg') center center/cover;
}
#40 {
  background: url('../images/40.jpg') center center/cover;
}
#40_2 {
  background: url('../images/40_2.jpg') center center/cover;
}
#40_3 {
  background: url('../images/40_3.jpg') center center/cover;
}
#5 {
  background: url('../images/5.jpg') center center/cover;
}
#6 {
  background: url('../images/6.jpg') center center/cover;
}
#7 {
  background: url('../images/7.jpg') center center/cover;
}
#8 {
  background: url('../images/8.jpg') center center/cover;
}
#9 {
  background: url('../images/9.jpg') center center/cover;
}
#10 {
  background: url('../images/10.jpg') center center/cover;
}
#11 {
  background: url('../images/11.jpg') center center/cover;
}
#12 {
  background: url('../images/12.jpg') center center/cover;
}
#13 {
  background: url('../images/13.jpg') center center/cover;
}
#14 {
  background: url('../images/14.jpg') center center/cover;
}
#15 {
  background: url('../images/15.jpg') center center/cover;
}
#16 {
  background: url('../images/16.jpg') center center/cover;
}
#17 {
  background: url('../images/17.jpg') center center/cover;
}
#18 {
  background: url('../images/18.jpg') center center/cover;
}
#19 {
  background: url('../images/19.jpg') center center/cover;
}
#19_2 {
  background: url('../images/19_2.jpg') center center/cover;
}
#20 {
  background: url('../images/20.jpg') center center/cover;
}
#20_2 {
  background: url('../images/20_2.jpg') center center/cover;
}
#21 {
  background: url('../images/21.jpg') center center/cover;
}
#22 {
  background: url('../images/22.jpg') center center/cover;
}
#23 {
  background: url('../images/23.jpg') center center/cover;
}
#24 {
  background: url('../images/24.jpg') center center/cover;
}
#25 {
  background: url('../images/25.jpg') center center/cover;
}
#26 {
  background: url('../images/26.jpg') center center/cover;
}
#27 {
  background: url('../images/27.jpg') center center/cover;
}
#28 {
  background: url('../images/28.jpg') center center/cover;
}
#30 {
  background: url('../images/30.jpg') center center/cover;
}
#31 {
  background: url('../images/31.jpg') center center/cover;
}
#32 {
  background: url('../images/32.jpg') center center/cover;
}
#33 {
  background: url('../images/33.jpg') center center/cover;
}
#34 {
  background: url('../images/34.jpg') center center/cover;
}
#35 {
  background: url('../images/35.jpg') center center/cover;
}
#36 {
  background: url('../images/36.jpg') center center/cover;
}
#37 {
  background: url('../images/37.jpg') center center/cover;
}
#38 {
  background: url('../images/38.jpg') center center/cover;
}
#39 {
  background: url('../images/39.jpg') center center/cover;
}
#41 {
  background: url('../images/41.jpg') center center/cover;
}
#42 {
  background: url('../images/42.jpg') center center/cover;
}
#43 {
  background: url('../images/43.jpg') center center/cover;
}
#44 {
  background: url('../images/44.jpg') center center/cover;
}
#45 {
  background: url('../images/45.jpg') center center/cover;
}
#46 {
  background: url('../images/46.jpg') center center/cover;
}
#47 {
  background: url('../images/47.jpg') center center/cover;
}
#48 {
  background: url('../images/48.jpg') center center/cover;
}
#49 {
  background: url('../images/49.jpg') center center/cover;
}
#50 {
  background: url('../images/50.jpg') center center/cover;
}
#51 {
  background: url('../images/51.jpg') center center/cover;
}
#52 {
  background: url('../images/52.jpg') center center/cover;
}
#53 {
  background: url('../images/53.jpg') center center/cover;
}
#54 {
  background: url('../images/54.jpg') center center/cover;
}
#55 {
  background: url('../images/55.jpg') center center/cover;
}
#56 {
  background: url('../images/56.jpg') center center/cover;
}
#57 {
  background: url('../images/57.jpg') center center/cover;
}
#58_2 {
  background: url('../images/58_2.jpg') center center/cover;
}
#58 {
  background: url('../images/58.jpg') center center/cover;
}
#59 {
  background: url('../images/59.jpg') center center/cover;
}
#60 {
  background: url('../images/60.jpg') center center/cover;
}
#61 {
  background: url('../images/61.jpg') center center/cover;
}


.header {
  font-family: 'Satisfy', cursive;
  position: relative;
  width: calc(50vh - 60px);
  height: calc(70vh - 60px);
  top: 30vh;
  white-space: initial;
}

@media screen and (max-width: 730px) {
  .header {
      top: 0;
      margin-top: 10vh;
      width: calc(60vh - 60px);
  }
}
