body{
    overflow: hidden;
}


#navbarph {
    position: relative;
}
#i1 {
    background: url('../images/1.jpg') center center/cover;
}
#i2 {
    background: url("../images/1_2.jpg") center center/cover;
}
#i3 {
    background: url('../images/2.jpg') center center/cover;
}
#i4 {
    background: url('../images/3.jpg') center center/cover;
}
#i4_2 {
    background: url('../images/4.jpg') center center/cover;
}
#i5 {
    background: url('../images/5.jpg') center center/cover;
}
#i6 {
    background: url('../images/6.jpg') center center/cover;
}
#i7 {
    background: url('../images/7.jpg') center center/cover;
}
#i8 {
    background: url('../images/8.jpg') center center/cover;
}
#i9 {
    background: url('../images/9.jpg') center center/cover;
}
#i10 {
    background: url('../images/10.jpg') center center/cover;
}
#i11 {
    background: url('../images/11.jpg') center center/cover;
}
#i12 {
    background: url('../images/12.jpg') center center/cover;
}
#i13 {
    background: url('../images/13.jpg') center center/cover;
}
#i14 {
    background: url('../images/14.jpg') center center/cover;
}
#i15 {
    background: url('../images/15.jpg') center center/cover;
}
#i16 {
    background: url('../images/16.jpg') center center/cover;
}
#i17 {
    background: url('../images/17.jpg') center center/cover;
}
#i18 {
    background: url('../images/18.jpg') center center/cover;
}
#i19 {
    background: url('../images/19.jpg') center center/cover;
}
#i20 {
    background: url('../images/20.jpg') center center/cover;
}
#i21 {
    background: url('../images/21.jpg') center center/cover;
}
#i23 {
    background: url('../images/23.jpg') center center/cover;
}

.landscape {
    position: relative;
    width: calc(106vh - 60px);
    height: calc(70vh - 60px);
}

.potrait {
  position: relative;
  width: calc(47vh - 60px);
  height: calc(70vh - 60px);
}

.header {
    font-family: 'Satisfy', cursive;
    position: relative;
    width: calc(50vh - 60px);
    height: calc(70vh - 60px);
    top: 30vh;
    overflow: hidden;
    white-space: initial;
}

@media screen and (max-width: 730px) {
    .header {
        width: calc(60vh - 60px);
        top: 10vh;
    }
}
